.content {
  padding-top: 60px;
}

#memberFrame {
  border-radius: 15px 50px 30px;
  border-style: solid;
  border-color: #acaaa9;
  height: 350px;
  width: 90%;
  margin: 24px auto;
  padding: 12px;
}
