.content {
  padding-top: 60px;
}

.userform {
  margin: 25px;
  margin-top: 0;
}

input.ng-invalid.ng-dirty{
  border: 5px solid red;
}

input.ng-valid.ng-dirty{
  border: 2px solid green;
}

.ModalWindow{
  margin: 20px;
}

textarea.workflow{
  width:100%;
}

.workflowDisplay{
  background-color: lightgreen;
  border-radius: 7px;
  margin: 5px;
}
