<!DOCTYPE html>
<html>
  <title>myFlows</title>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Demo</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/external/bootstrap.min.css" />
    <link rel="stylesheet" href="css/external/bootstrap-theme.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/app.css" />
  </head>


  <body ng-app="myFlows">
    <div>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar=header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="/">myFlows</a> -->
          </div>
          <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-1" ng-controller="NavController as navCtrl">
            <ul class="nav navbar-nav navbar-left">
              <li ng-class="{'active' : navCtrl.isSet(1)}">
                <a href="#/home" ng-click="navCtrl.setTab(1)">Home</a>
              </li>
              <li ng-class="{'dropdown' : true, 'active' : navCtrl.isSet(2)}" ng-show="navCtrl.isLoggedIn()"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UserName <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a href="#/user" ng-click="navCtrl.setTab(2)">Edit User</a></li>
                   <li><a href="#/list" ng-click="navCtrl.setTab(2)">My Flows</a></li>
                   <li role="separator" class="divider"></li>
                   <li><a href="#/" ng-click="navCtrl.logout()">Logout</a></li>
                 </ul>
              </li>
              <li ng-class="{'active' : navCtrl.isSet(2)}" ng-show="!navCtrl.isLoggedIn()"><a href="#/login" ng-click="navCtrl.setTab(2)" >Log In</a></li>
              <li ng-class="{'active' : navCtrl.isSet(3)}">
                <a href="#/about" ng-click="navCtrl.setTab(3)">About Us</a>
              </li>
             </ul>
           </div>
         </div>
      </nav>
      <div style="background-image: url('./content/images/JBTRON_1.jpg');" class="jumbotron" alt="My Flows" >
      <!--<div style="background-image: url('./content/images/1.jpg');" class="jumbotron" alt="My Flows" >-->
			  <h1 class="headerContent">myFlows</h1>
			  <p  class="headerContent">Helping to make workflows and task management easier.</p>
      </div>
    </div>
    <div class="content">
      <div ng-view></div>
    </div>

    <script src="js/external/jquery.min.js"></script>
    <script src="js/external/bootstrap.min.js"></script>
    <script src="js/external/angular.min.js"></script>
    <script src="js/external/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="js/external/angular-route.js"></script>
    <script src="js/external/angular-css.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/loginController.js"></script>
    <script src="js/controller/workflowController.js"></script>
    <script src="js/controller/navController.js"></script>
    <script src="js/controller/workflowListController.js"></script>
    <script src="js/controller/userController.js"></script>
    <script src="js/controller/aboutController.js"></script>
    <script src="js/directives/workflowModalDirective.js"></script>
    <script src="js/services/workflowService.js"></script>
    <script src="js/services/userService.js"></script>
  </body>
</html>
