<div id="page">
  <div id="header" class="header">
    <h2>Iowa City HomeBrew - Team Profile</h2>
  </div>

  <div class="container-fluid">
    <!--<div id="membersFrame" data-ng-controller="TeamMemberController">-->
    <div id="membersFrame" data-ng-init="teamMembers=[{
                              'name': 'Devin Lewis',
                              'origin': 'West Branch, IA',
                              'interests': 'Tech, Fishing, breaking things, fixing things and anything outdoors',
                              'emailAddress': 'devin.lewis@ihawkcs.com',
                              'twitterHandle': '',
                              'mugPath': 'content/images/DEVIN.jpg',
                              'status': 'Active'
                          },
                          {
                              'name': 'Brent Greiner',
                              'origin': 'IA',
                              'interests': '',
                              'emailAddress': 'brentgreiner@gmail.com',
                              'twitterHandle': '',
                              'mugPath': 'content/images/BRENT.jpg',
                              'status': 'Active'
                          },
                          {
                              'name': 'Vernon Foust',
                              'origin': 'IA',
                              'interests': '',
                              'emailAddress': 'vernonfoustwollenberg@gmail.com',
                              'twitterHandle': '',
                              'mugPath': 'content/images/VERNON.jpg',
                              'status': 'Active'
                          },
                          {
                              'name': 'Joel Krueger',
                              'origin': 'IA',
                              'interests': '',
                              'emailAddress': 'joel.kruege@gmail.com',
                              'twitterHandle': '',
                              'mugPath': 'content/images/JOEL.jpg',
                              'status': 'Active'
                          },
                          {
                              'name': 'Eleanor Kauffman',
                              'origin': 'IA',
                              'interests': '',
                              'emailAddress': 'eleanorkauffman@gmail.com',
                              'twitterHandle': '',
                              'mugPath': 'content/images/ELEANOR.jpg',
                              'status': 'Active'
                          },
                          {
                              'name': 'Rajni Vijh',
                              'origin': 'IA',
                              'interests': '',
                              'emailAddress': 'rajni.vijh@act.org',
                              'twitterHandle': '',
                              'mugPath': 'content/images/RAJNI.jpg',
                              'status': 'Active'
                          },
                          {
                              'name': 'Justin Jones',
                              'origin': 'IA',
                              'interests': '',
                              'emailAddress': 'justin.e.jones.dad@gmail.com',
                              'twitterHandle': '',
                              'mugPath': 'content/images/JUSTIN.jpg',
                              'status': 'Active'
                          },
                          {
                              'name': 'Todd Thomas',
                              'origin': 'IA',
                              'interests': '',
                              'emailAddress': 'todd.l.thomas@gmail.com',
                              'twitterHandle': '',
                              'mugPath': 'content/images/TODD.jpg',
                              'status': 'Active'
                          }]">
      <div class="row" id="memberFrame" data-ng-repeat="teamMember in teamMembers | filter:{status:'!Inactive'} | orderBy:'name'">
        <div id="memberInfo" class="col-sm-6">
          <h3>{{teamMember.name}}</h3>
          <label>Origin:</label> {{ teamMember.origin }}</br>
          <label>Email: </label> {{ teamMember.emailAddress_null }}</br>
          <label>Twitter: </label> {{ teamMember.twitterHandle }}</br>
          </br>
          <label>Interests: </label> {{ teamMember.interests }}</br>
        </div>
        <div id="memberMug" class="col-sm-6"  align="right">
          <img alt="{{teamMember.name}}" title="{{teamMember.name}}" src="{{ teamMember.mugPath }}" style="border:0;" height="325" width="300">
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
  </div>
</div>
