<div id="page">
  <div id="header" class="header">
    <h2>Iowa City HomeBrew - Team Profile</h2>
  </div>

  <div class="container-fluid">
    <div id="membersFrame" data-ng-controller="AboutController">
      <div class="row" id="memberFrame" data-ng-repeat="teamMember in teamMembers | filter:{status:'!Inactive'} | orderBy:'name'">
        <div id="memberInfo" class="col-sm-6">
          <h3>{{teamMember.name}}</h3>
          <label>Origin:</label> {{ teamMember.origin }}</br>
          <label>Email: </label> {{ teamMember.emailAddress_null }}</br>
          <label>Twitter: </label> {{ teamMember.twitterHandle }}</br>
          </br>
          <label>Interests: </label> {{ teamMember.interests }}</br>
        </div>
        <div id="memberMug" class="col-sm-6"  align="right">
          <img alt="{{teamMember.name}}" title="{{teamMember.name}}" src="{{ teamMember.mugPath }}" style="border:0;" height="325" width="300">
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
  </div>
</div>
