

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" style="text-align: center;">
                    <p>Contact us through social media</p>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com" target="_blank"><img src="./content/images/twitter.png" width="50%" height="50%"></a>
                        </li>
                        <li>
                            <a href="https://github.com/greinerb/homebrew-koding-hackathon" target="_blank"><img src="./content/images/Github.png" width="50%" height="50%"></a>
                        </li>
                        <li>
                            <a href="https://facebook.com" target="_blank"><img src="./content/images/facebook.png" width="50%" height="50%"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" target="_blank"><img src="./content/images/linkedin.png" width="50%" height="50%"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
